.About {
    background-color: #666666;
    text-align: center;
    padding: 1em;
    color: white
}

.About h1 {
    color: white;
    margin: 0px;
}

.About ul {
    text-align: left;
    list-style-type: none;
}

.About ul li {
    padding: 1em;
}