.About {
    background-color: #666666;
    text-align: center;
    padding: 1em;
    color: white
}

.About .papers {
    text-align: left;
}

.About h1 {
    color: white;
    margin: 0px;
}