html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.JSONPicker {
    padding: 5px;
    padding-left: 20px;
    text-align: left;
}

.JSONPicker .clickable {
    padding: 5px;
    display: inline-block;
    background-color: bisque;
    border: black 2px solid;
}

.JSONPicker .clickable:hover {
    background-color: rgb(255, 211, 157);
}